body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: rgb(14, 41, 26);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 2px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* White with 70% opacity */
    border-radius: 5px;
    text-align: center;
}

img {
    max-width: 450px;
    border-radius: 50px; /* Adjust this value for desired roundness */
}


#projects ul {
    list-style-type: none;
    padding-left: 0; /* Removes the default padding for UL */
}
a {
    display: block;
    margin-bottom: 10px;
    color: #0066cc;
    text-decoration: none;
    padding: 5px 5px; /* Adjust padding as needed */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a transparent shadow */
    transition: box-shadow 0.2s ease; /* Adjust the transition to the box-shadow */
}

a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Increase shadow intensity on hover */
}
#introduction p {
    font-size: 20px; /* adjust size as needed */
    font-family: 'Oswald', sans-serif;
}